<ul id="dropdown1" class="dropdown-content">
  <li><a href="/notes">Mathamatic</a></li>
  <li><a href="/notes">English</a></li>
  <li><a href='/notes'>BBA</a></li>
  <li><a href="/notes">Science</a></li>
</ul>

<%if user_signed_in? %>
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to "lecture Note", notes_path, class: "brand-logo" %>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <!-- <li>
          <form action="/notes" method="get">
            <input type="text" class="form-control" name="search" placeholder="find notes...">
            <button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">search</i>
            </button>
          </form> -->
        <!-- <div class="form-group"> -->
          <!-- <div class="search-wrapper card" action="/notes" method="get"> -->

        <!-- </div> -->
      <li>
        <form action="/notes" method="get">
          <li><input type="text" class="form-control" name="search" placeholder="find notes..."></li>
          <li><button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">search</i></li>
        </form>
      </li>
        <!-- <li><a type="submit" name="commit" class="btn btn-default"><i class="material-icons">search</i></a></li> -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Note<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/users/edit">account</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href=""><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><br></a></li>
      </ul>
    </div>
  </nav>
  </div>

<% else %>

<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <%= link_to "lecture Note", notes_path, class: "brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/notes"><i class="material-icons">search</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Note<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/users/sign_in">Log in</a></li>
    </ul>
  </div>
</nav>
</div>

<% end %>

<script>
  $(document).ready( function () {
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
    $(".button-collapse").sideNav();
    $('#sidebar-nav').sidr();
  });
</script>
